body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin: 2em 4em 0 4em;
	line-height: 1.4;
}

strong {
	font-weight: 400;
}

h1 {
	text-align:left;
	font-size:1.9em;
	font-weight:normal;
	color: #933;
}

h2 {
	text-align:left;
	font-size:1.6em;
	font-weight:normal
}

h3 {
	font-size:1.2em;
	font-weight:normal;
}

#table_div {
	margin-left: 0;
	width:300px;	
}

ul {
	list-style-type:circle;
}
ul#stats {
	background-color: #EEE;
	padding: .8em;
}

ul#stats li {
	margin: .3em;	
	list-style: none;
}

#footer {
	text-align: center;
	margin-top:1em;
	margin-bottom:0;
	background-color: #EEE;
	font-size: 75%;
	padding: .4em;
	color: #666;
	font-weight: 400;
}

#footer a {
	color: #000;	
}

a {
	text-decoration: none;	
}

h2 a {
	font-weight: 300;	
}

a, a.small {
	color: #933;	
}

fieldset {
	border: 1px solid #CCC;
	margin-top: 1em;	
	
}

.sp {
	margin-top: 1em;
	margin-bottom: 0;	
}

legend {
	color: #666;	
}

.small {
	font-size: 80%;	
	color: #666;
}

tt {
	color: #999;
	font-family: Helvetica, Arial, sans-serif;
}

.left {
	float: left;	
}

.right {
	float: right;	
}

a:hover, rect:hover {
	opacity: .5;
}
